textarea {
    min-height: 400px;
}

tbody>tr>th {
    font-weight: normal;
}

tr:hover {
    cursor: pointer;
}

#subject {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#timestamp {
    font-size: small;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#buttons {
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-btn {
    margin-left: 0.5rem;
    width: 4rem;
}

.gray {
    background-color: #DCDCDC;
}