body {
    background-color: rgb(153, 216, 190);
}

textarea {
    min-height: 400px;
}

tbody>tr>th {
    font-weight: normal;
}

tr:hover {
    cursor: pointer;
}

.header-btn {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 5rem;
}

.buttons {
    text-align: right;
}

.my-btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0;
    width: 5rem;
}

.my-container {
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

.gray {
    background-color: #DCDCDC;
}

#subject {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#timestamp {
    font-size: small;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#user {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#header-buttons {
    text-align: center;
}

#emails-view {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#compose-view {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#email-view {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}